{% extends "base.html" %}

{% block style %}
<link href="/static/css/camera/ui/captures/ui_paginated_captures.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <p>Found <strong>{{ data.total_captures }} captures</strong></p>
    </div>
    <div class="row">
        <p>Captures distributed in <strong>{{ data.total_pages }} pages. Current page {{ data.current_page }}</strong></p>
    </div>
    <!-- The grid: four columns -->
    {% for captures_grid in data.captures_grids %}
    <div class="row">
        {% for capture in captures_grid %}
        <div class="column">
            <img src="{{ url_for('capture_mode.get_captured_image', relative_path=capture.image) }}" alt="{{ capture.date }}" onclick="expandCapture(this);">
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="pagination">
            <a href="{{ url_for('capture_mode.ui_captures_paginated', page_number=data.current_page-1) }}">&laquo;</a>
            {% for x in range(1, data.total_pages+1) %}
                <a {% if data.current_page == x %}class="active"{% endif %} href="{{ url_for('capture_mode.ui_captures_paginated', page_number=x) }}">{{ x }}</a>
            {% endfor %}
            <a href="{{ url_for('capture_mode.ui_captures_paginated', page_number=data.current_page+1) }}">&raquo;</a>
        </div>
     </div>
</div>

<div id="expandedImgContainer" class="container">
    <!-- The expanding image container -->
    <div class="expand-container">
        <!-- Close the image -->
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

        <!-- Expanded image -->
        <img id="expandedImg" style="width:100%">

        <!-- Image text -->
        <div id="imgtext"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/camera/ui/captures/ui_paginated_captures.js"></script>
{% endblock %}
