{% extends "base.html" %}
{% block body %}
<div class="container">
    <p class="font-weight-normal">
        Capture images from the camera and store them, with an interval defined in seconds.
        <br/>
        The interval range is between {{ data['min_interval'] }} seconds and {{ data['max_interval'] }} seconds.
        <br/>
        {% include 'camera/ui/capture/set_capt_interval_value.html' %}
        {% include 'camera/ui/capture/set_status_capture_mode.html' %}
        {% include 'camera/ui/capture/remove_captures.html' %}
    <p/>
</div>
{% endblock %}
