{% extends "base.html" %}
{% block body %}
<div class="container">
    <p class="font-weight-normal">
        Capture images from the camera and store them, with an interval defined in seconds.
        <br/>
        The interval range is between {{ data['min_interval'] }} seconds and {{ data['max_interval'] }} seconds.
        <br/>
        <br/>
        <strong>The configured capture interval is {{ data['capture_interval'] }} seconds.</strong>
        <br/>

        {% include 'camera/ui/capture/form_set_capt_interval_value.html' %}
    <p/>
</div>
{% endblock %}
