{% extends "base.html" %}
{% block body %}
<div class="container">
    <p class="font-weight-normal">
        Capture images from the camera and store them, with an interval defined in seconds.
        <br/>
        The interval range is between {{ data['min_interval'] }} seconds and {{ data['max_interval'] }} seconds.
        <br/>
        <br/>
        <strong>The configured capture interval is {{ data['capture_interval'] }} seconds.</strong>
        <br/>
        <form class="form-inline" action="{{ url_for('capture_mode.set_capt_interval_value') }}" method="post">
            <div class="form-group mx-sm-3 mb-2">
                <label>
                    <input type="number" class="form-control" name="capture_interval" placeholder="Interval"
                           min="{{ data['min_interval'] }}" max="{{ data['max_interval'] }}"
                           value="{{ data['capture_interval'] }}">
                </label>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Update interval</button>
        </form>
    <p/>
</div>
{% endblock %}
