<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand logo_h" href=""><img src="/static/img/logo.png" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if section == 'home'%}active{% endif %}">
        <a class="nav-link" href="">Home</a>
      </li>
    </ul>
  </div>
</nav>
