{% extends "base.html" %}
{% block body %}
<div class="container">
    <p class="font-weight-normal">
        Capture images from the camera and store them, with an interval defined in seconds.
        <br/>
        The interval will be able to configure between {{ data['min_interval'] }} seconds and {{ data['max_interval'] }} seconds.
        <br/>
        You will be able to see the images split by day and being able to download all the images of a day together.
        <br/>
        The view of the captures is going to be paginated
        <br/>
        <br/>
        <strong>The configured capture interval is {{ data['capture_interval'] }} seconds.</strong>
        <br/>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="captureIntervalInput" class="sr-only">Password</label>
                <input type="number" class="form-control" id="captureIntervalInput" placeholder="Interval" min="{{ data['min_interval'] }}" max="{{ data['max_interval'] }}" value="{{ data['capture_interval'] }}">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Update interval</button>
        </form>
        <br/>
        See images
        <br/>
        <br/>
        Download images
        <br/>
    <p/>
</div>
{% endblock %}
