{% extends "base.html" %}
{% block body %}
<div class="container">
    <p class="font-weight-normal">
        Capture images from the camera and store them, with an interval defined in seconds.
        <br/>
        The interval will be able to configure between 2 seconds and 300 seconds.
        <br/>
        You will be able to see the images split by day and being able to download all the images of a day together.
        <br/>
        The view of the captures is going to be paginated
        <br/>
        <br/>
        Configure capture interval in seconds
        <br/>
        <br/>
        See images
        <br/>
        <br/>
        Download images
        <br/>
    <p/>
</div>
{% endblock %}
