<nav class="navbar navbar-expand-sm navbar-dark bg-dark m-bot-25">
    <a class="navbar-brand logo_h" href="{{ url_for('home.ui_home') }}"><img src="/static/img/logo.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            {% with item_title='Home', item_href=url_for('home.ui_home') %}
                {% include 'navbar/navbar-item.html' %}
            {% endwith %}
            {% with item_title='Stream', item_href=url_for('camera.ui_camera_stream') %}
                {% include 'navbar/navbar-item.html' %}
            {% endwith %}
            {% with item_title='Capture', item_href=url_for('capture_mode.ui_config_capture_mode') %}
                {% include 'navbar/navbar-item.html' %}
            {% endwith %}
        </ul>
    </div>
</nav>
