[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydevd = "*"
coverage = "*"

[packages]
flask = "*"
picamera = {version = "*",sys_platform = "== 'linux'"}
flask-sqlalchemy = "*"
pillow = "*"

[requires]
python_version = "3.7"
