[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydevd = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "*"
picamera = {version = "*",sys_platform = "== 'linux'"}


[requires]
python_version = "3.7"
